{{#each posts as |post|}}

    {{#widget cardWidget 'begin'}}{{/widget}}
        {{text}}
    {{#widget cardWidget 'end'}}{{/widget}}
    <!--<div class="card post-card">-->
        <!--<div class="card-header">-->
            <!--<h3>{{title}}</h3>-->
        <!--</div>-->
        <!--<div class="card-block">-->
            <!--<p>{{text}}</p>-->
        <!--</div>-->
        <!--<div class="card-footer clearfix">-->
            <!--<div class="footer-container">-->
                <!--<div class="w-100 text-left">321</div>-->
                <!--<div class="w-100 text-center">123</div>-->
                <!--<div class="w-100 text-right">{{widget}}</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
{{/each}}